<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}
 
{% block body %}
 
<h1>hi! this is about the creators of the site</h1>
<h3> the purpose of this app is to help you feel better about yourself and track your mood and mental health</h3>
<br></br>
 
<div class="row align-items-start">
   <div class="col">
     <img src = "/static/basic icon.jpeg" width="150" height="150">
   </div>
   <div class="col">
     <img src = "/static/basic icon.jpeg" width="150" height="150">
   </div>
   <div class="col">
     <img src = "/static/basic icon.jpeg" width="150" height="150">
   </div>
   <div class="col">
     <img src = "/static/basic icon.jpeg" width="150" height="150">
   </div>
   <div class="col">
     <img src = "/static/basic icon.jpeg" width="150" height="150">
   </div>
   <div class="col">
     <img src = "/static/basic icon.jpeg" width="150" height="150">
   </div>
 </div>
 
   <div class="row align-items-start">
     <div class="col border">
       brianna
     </div>
     <div class="col border">
       jiayong
     </div>
     <div class="col border">
       krystal
     </div>
     <div class="col border">
       nghi
     </div>
     <div class="col border">
       sophie
     </div>
     <div class="col border">
       susanna
     </div>
   </div> 
 
   <div class="row align-items-start">
     <div class="col border">
       about me:
     </div>
     <div class="col border">
       about me:
     </div>
     <div class="col border">
       about me:
     </div>
     <div class="col border">
       about me:
     </div>
     <div class="col border">
       about me:
     </div>
     <div class="col border">
       about me:
     </div>
   </div>
 
{% endblock %}
