
.index{
    font-family: 'Lora', serif;
}

.interactive{
    font-family: 'Lora', serif;
}

.results{
    font-family: 'Lora', serif;
}

.aboutme{
    font-family: 'Lora', serif;
    background-color:lavender;
}

